<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lotus_projeto_integrador.lotus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LotusActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProdCategoriaActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EnderecoActivity"
            android:label="@string/title_activity_endereco" >
        </activity>
        <activity
            android:name=".PagamentoActivity"
            android:label="@string/title_activity_pagamento" >
        </activity>
        <activity
            android:name=".DetalhesProduto"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CameraTestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ResultadoQRActivity"
            android:label="@string/title_activity_resultado_qr" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".TermosActivity"
            android:label="@string/title_activity_temos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarrinhoActivity"
            android:label="@string/title_activity_carrinho" >
        </activity>
        <activity
            android:name=".erroActivity"
            android:label="@string/title_activity_erro" >
        </activity>
        <activity
            android:name=".CompraOk"
            android:label="@string/title_activity_compra_ok"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
